# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
.scripts/
env/
venv/
ENV/
.pdm.toml
.pdm-python
.pdm-build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local MongoDB data
data/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover 